{% extends 'paginas/base.html' %}
{% load static %}

{% block conteudo %}

<div class="row fixed-message message">
    {% include 'paginas/alertas.html' %}
</div>

<div class="row">
    <p class="h3">Perfil Sinalizado</p>
</div>

<div class="row">
    <div class="col-md-9">
        <p class="lead">
            Ajude os novos usuários a terem sucesso na comunidade analisando as sinalizações
        </p>    
    </div>
    <div class="col-md-2 text-right">
        <div class="borda {% if '/denuncias/perfis/' == request.path %}bg-secao{% endif %}" style="display: inline-block; padding: 4px;"> 
            <a href="{% url 'sinalizacao_perfil' %}">Fila de Análise</a>
        </div>
    </div>

    <div class="col-md-1 text-right">
        <div class="borda {% if '/denuncias/perfis/historico/' == request.path %}bg-secao{% endif %}" style="display: inline-block; padding: 4px;"> 
            <a href="{% url 'historico_sinalizacao_perfil' %}">Histórico</a>
        </div>
    </div>
</div>

<hr class="my-hr-line">

<div class="row">
    <p class="h3">Histórico</p>
</div>

<div class="row">
    <div class="col-md-9">
        <p class="lead">
            Histórico das sinalizações dos perfis. 
        </p>    
    </div>
</div>

{% if sinalizacoes %}
<table class="table table-striped mt-2">
    <thead>
        <tr class="row">
        <th class="col-md-2 col-sm-2">Perfil Sinalizado</th>
        <th class="col-md-4 col-sm-6">Notificação</th>
        <th class="col-md-2 col-sm-3">Ação</th>
        <th class="col-md-2 col-sm-2">Autor</th>
        <th class="col-md-2 col-sm-2">Data</th>
        </tr>
    </thead>
    <tbody> 
        {% for sinalizacao in sinalizacoes %}
        <tr class="row">
            <td class="col-sm-2 col-md-2">
            {% if sinalizacao.perfil_ativo %}
                <a href="{% url 'perfil' sinalizacao.perfil_ativo %}" class="text-primary h6">
                    {{ sinalizacao.perfil }}
                </a>
            {% else %}
                {{ sinalizacao.perfil }}
            {% endif %}
            </td>
            <td class="col-sm-2 col-md-4">
                <h6>{{ sinalizacao.notificacao }}</h6>
            </td>           
            <td class="col-sm-4 col-md-2">
                <h6>{{ sinalizacao.status_verbose }}</h6>  
            </td>
            <td class="col-sm-2 col-md-2">
                <h6>{{ sinalizacao.usuario.nome_completo }}</h6>
            </td>
            <td class="col-sm-2 col-md-2">
                <h6>{{ sinalizacao.data|date:"d/m" }}</h6>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

<!-- Paginação -->
{% include 'paginas/pagination.html' %}
<!-- Fim da Paginação -->

{% else %}
<hr class="my-hr-line">
<div class="row mt-4">
    <h6 class="mx-auto lead">
        Não há nenhuma sinalização de perfil no histórico. Quer voltar para página principal? Volte para <a href="{% url 'index' %}" class="text-primary">página de trilhas.</a>  
    </h6>
</div>
{% endif %}

{% endblock %}