{% extends 'paginas/base.html' %}

{% load static %}

{% block header %}

<link href="{% static 'css/tags_snippet.css' %}" rel="stylesheet">
<script src="{% static 'js/tags_snippet.js' %}"></script>

{% endblock header %}


{% block conteudo %}

<form class="needs-validation" id="formConteudo" novalidate>
    <div class="form-row justify-content-center">
        <div class="col-lg-6 col-md-12">

            <h3>Conteúdo</h3>
            <hr>

            <label class="lead" for="titulo">Título do conteúdo</label>
            <input type="text" class="form-control dadosConteudo" name="titulo" required>

            <label for="thumbnail" class="lead">Thumbnail</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="thumbnail" required>
                <label class="custom-file-label">Selecione uma Thumbnail</label>
            </div>

            <label class="lead" for="descricao">Descrição</label>
            <textarea name="descricao" class="form-control dadosConteudo" required></textarea>

            <label class="lead" for="tipo_de_conteudo">Tipo de conteúdo</label>
            <select class="form-control dadosConteudo" name="tipo_de_conteudo" required>
                <option value="" selected disabled>Selecione um de conteúdo</option>
                <option value="video">Vídeo</option>
                <option value="arquivo">Arquivo</option>
            </select>

            <label class="lead" for="carga_conteudo">Carga conteúdo</label>
            <div class="d-flex">
                <input type="number" class="form-control dadosConteudo mr-2" name="carga_horas" min="0" placeholder="horas" required>
                <input type="number" class="form-control dadosConteudo mr-2" name="carga_minutos" min="0" placeholder="minutos" required>
                <input type="number" class="form-control dadosConteudo" name="carga_segundos" min="0" placeholder="segundos" required>
            </div>

            <h3 class="mt-5">Classificação</h3>
            <hr>

            <div class="d-flex">
                <div class="w-100">
                <label class="lead" for="tipo_de_tecnologia">Tecnologia</label>
                <select class="form-control dadosConteudo" name="tipo_de_tecnologia" onchange="getTecnologias($(this).val(), atualizarSecoes)" required>
                    <option value="" selected disabled>Selecione uma Tecnologia</option>
                    {% for tecnologia in tecnologias %}
                    <option value="{{ tecnologia.nome }}">{{ tecnologia.nome }}</option>
                    {% endfor %}
                </select>
                </div>
                <button type="button" class="btn rounded-circle btn-light align-self-end mb-2 ml-1" onclick="mostrarInput()" >
                    <i class="fas fa-plus"></i>
                </button>
            </div>

            <div class="d-flex">
                <div class="w-100">
                <label class="lead" for="tipo_de_secao">Seção</label>
                <select class="form-control dadosConteudo" name="tipo_de_secao" id="secao_select" required>
                    <option value="" selected disabled>Selecione uma seção</option>
                    {% for secao in secoes %}
                    <option value="{{ secao.nome }}">{{ secao.nome }}</option>
                    {% endfor %}
                </select>
                </div>
                <button type="button" class="btn rounded-circle btn-light align-self-end mb-2 ml-1" onclick="mostrarInput()">
                    <i class="fas fa-plus"></i>
                </button>
            </div>

            <h3 class="mt-5">Subida do conteúdo</h3>
            <hr>

            <label for="arquivo" class="lead">Arquivo</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="arquivo" required>
                <label class="custom-file-label">Selecione um arquivo</label>
            </div>

            <label class="lead" for="tags">Tags</label>
            <div class="wrapper">
            <div class="content">
                <ul id="tags"><input id="input_tag" type="text" spellcheck="false"></ul>
            </div>
            </div>
            
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn text-light btn-lg bg-ifstudy mt-3">Criar<i class="fas fa-save ml-3"></i></button>
            </div>
        </div>
    </div>
</form>

<script src="{% static 'js/registrar_conteudo.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock conteudo %}

{% block script %}

{% endblock script %}